<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>My Blog Website!</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Get the leaflet CSS file -->

</head>
<link rel="stylesheet" href="{% static 'style1.css' %}">
<link rel="stylesheet" href=
"https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />

<body id="body">
    <div class="nav-bar sticky" id="navbar">
        <a href="{% url 'homepage' %}">Home</a>
        <a href="{% url 'blog_index' %}">Blog</a>
        <div class="dropdown">
            <button onclick="ddFunction()" class="dropbtn">More...</button>
            <div id="myDropdown" class="dropdown-content">
                <a href="{% url 'fuel_index' %}">Fuel Program</a>
                <a href="{% url 'note_index' %}">Note Program</a>
            </div>

        </div>

    </div>
    {% block content %}
        Hello this is the content section
    {% endblock %}


<script src="{% static 'app.js' %}"></script>
<script src="{% static 'carousel.js' %}"></script>
<script src="{% static 'ddFunction.js' %}"></script>
</body>
</html>