{% extends 'base_generic.html' %}
{% load static %}



{% block content %}
<div id="fuel-form">
    <h3>Fuel Saver</h3>
    <p>A program designed to optimize a route between two airports, finding the cheapest (as well as shortest) route from point A to point B.
    Uses data collected from Airnav.com.
    To use the program, enter in your desired 3-4 character Airport Identifiers. For example, Easterwood Airport in
    College Station, Texas is known as KCLL, JFK International Airport in Queens, New York is known as KJFK, etc.</p>
    <form action="fuel_index" method="POST">
        {% csrf_token %}
        <label for="callsign1">Callsign 1</label>
        <input type="text" id="callsign1" name="callsign1">
        <label for="callsign2">Callsign 2</label>
        <input type="text" id="callsign2" name="callsign2">
        <input type="submit" value="Submit" name="callsign-submit">
    </form>

    <p>Amount of fuel saved: {{ results.0 }}</p>
    <p>Extra milage added to trip: {{ results.1 }}</p>
    <p>Airports along Cheapest Route:</p>
    {% for item in results.2 %}
        <p class="fuel-airports">{{item.1}},{{item.2}},{{ item.3 }},{{ item.4 }}<p>
    {% endfor %}
</div>


<h1>My Leafletjs Map</h1>
<!-- Specify the map and it's dimensions -->
<div id="map" style="width: 960px; height: 500px"></div>

<!-- Get the leaflet JavaScript file -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
<script src="{% static 'map.js' %}"></script>

{% endblock %}
