{% extends 'base_generic.html' %}
{% load static %}



{% block content %}
<div id="fuel-form">
    <h2>Fuel Saver</h2>
    <p>A program designed to optimize a route between two airports, finding the cheapest (as well as shortest) route from point A to point B.
    Uses data collected from Airnav.com.
    To use the program, enter in your desired 3-4 character Airport Identifiers. For example, Easterwood Airport in
    College Station, Texas, is known as KCLL. JFK International Airport in Queens, New York, is known as KJFK, etc.</p>
    <div id="form-div">
        <form action="fuel_index" method="POST">
            {% csrf_token %}
            <table>
                <tr>
                    {{ form.as_p }}
                </tr>
                <tr>
                    <td><input type="submit" value="Submit" name="callsign-submit"></td>
                </tr>
            </table>
        </form>
        <p class="note">Note: The program time varies depending on the range of the aircraft, and the distance from the starting to the destination airport.
            Specifically, shorter range aircraft require more stops, resulting in longer computation times. For the Cessna 172, airports within a range of 1500 miles
            take fractions of a second, with airports further than 1500 miles but within 2000 miles taking around 1 minute.
            Future updates will aim to reduce this computation time. </p>
        <p class="note">Note: The program filters out airports that are over 100 miles away from the great circle arc
            created by two airports. This will result in no solution for trips from Alaska or Hawaii to many state-side
            airports in the NorthEast, due to a lack of airport data from Canada. Future updates will utilize Canadian
            airports, along with more robust route-finding methods.</p>
        <p class="note">Note: The program uses 100LL fuel prices to conduct calculations. The results returned for any jet aircraft
            using Jet A are therefore inaccurate. Future updates will utilize Jet A prices for jets and 100LL for piston aircraft.</p>
    </div>
</div>

<div id="fuel-data">
    <h3>Shortest Route: ${{ results.5.0 }}; {{ results.5.1 }} miles</h3>
    {% for item in results.3 %}
        <div>{{ item.2 }}, {{ item.1 }}<p class="dist-airports">{{ item.3 }},{{ item.4 }}</p></div>
    {% endfor %}

    <h3>Cheapest Route: ${{ results.4.0 }}; {{ results.4.1 }} miles</h3>
    {% for item in results.2 %}
        <div>{{ item.2 }}, {{ item.1 }}<p class="fuel-airports">{{ item.3 }},{{ item.4 }}</p></div>
    {% endfor %}

    <h3>Results:</h3>
    <p>Amount of fuel saved: ${{ results.0 }}</p>
    <p>Extra milage added to trip: {{ results.1 }} miles</p>

    <br>
</div>


<div id="map-container">
    <h1>Route Map</h1>
    <!-- Specify the map and it's dimensions -->
    <div id="map"></div>

</div>
<script src="{% static 'formUpdate.js' %}"></script>
<!-- Get the leaflet JavaScript file -->
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
<script src="{% static 'map.js' %}"></script>



{% endblock %}
