.nav-bar {
background-color: rgba(137, 207, 240,.2);
height: 60px;

}

#navbar a {
float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/* Dropdown Button */
.dropbtn {
float: left;
display: block;
color: #f2f2f2;
background-color: rgba(137, 207, 240,0);
text-align: center;
padding: 15px 16px;
text-decoration: none;
font-size: 17px;
font-family: "Times New Roman";
border: none;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
cursor: pointer;
}

.dropdown {
position: relative;
display: inline-block;

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
display: none;
position: absolute;
float: none;
overflow: auto;
background-color: rgba(137, 207, 240,.5);
min-width: 100px;
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
margin-top: 60px;
display:block;
}

.sticky {
position: fixed;
top: 0;
width: 100%;
}

body {
background-image: url('IMG_5010.jpg');
background-position: top center;
background-attachment: scroll;
width: 100%;
background-size: cover;
background-repeat: no-repeat;
margin: 0;
display: grid;
place-items: center;
}

.container {
display: flex;
flex-wrap: wrap;
padding-top: 150px;
background-color: rgba(0,0,0,0);
}

.slider {
width: 850px;
height: 600px;
position: relative;
overflow: hidden;
margin-top: 0px;
}

.slider:hover {
filter: brightness(120%) saturate(120%);
cursor: pointer;
}

.category-card {
background-color: rgba(137, 207, 240,0);
text-align: center;
margin: auto;
width: 100%;
max-width: 850px;
height: 580px;
position: absolute;
transition: all 0.5s;
}

.category-header {
border-top-left-radius: 30px 100px;
background-color: rgba(255,255,255,.8);
height: 80px;
margin-bottom: 10px;
position: relative;
}

.cat-header {
text-align: center;
position: relative;
margin: 0px;
padding: 0px;
}

.cat-caption {
position: relative;
}

.cat-slide img {
max-width: 850px;
height: 510px;
width: 100%;
object-fit: cover;
position: relative;
bottom: 0%;
border-bottom-right-radius: 25px 25px;
}

.blog-container {
background-color: rgba(137, 207, 240,0);
width: 90%;
margin: auto;
margin-top: 50px;
padding: 20px 50px 20px;
text-align: center;
}

.blog-post {
background-color: rgba(224, 240, 255,.98);
padding: 1px 10px 5px 10px;
text-align: left;
border-radius: 5px;
margin-top: 5px;
display:grid;
}

.blog-post a {
text-decoration: none;
color: black;
}

.blog-post p {
text-align: justify;
}

.blog-post-subheader {
display: grid;
font-size: 14pt;
}

.blog-post-image {
width: 40%;
float: left;
margin: 25px;
object-position: center top;
}

.btn {
position: absolute;
width: 40px;
height: 40px;
padding: 10px;
border: none;
border-radius: 50%;
z-index: 10px;
cursor: pointer;
background-color: #fff;
font-size: 18px;
}

.btn:active {
transform: scale(1.1);
}

.btn-prev {
top: 50%;
left: 2%;
}

.btn-next {
top: 50%;
right: 2%;
}

#fuel-form {
width: 80%;
height: auto;
margin: auto;
margin-top: 80px;
padding: 30px;
background-color: rgba(224, 240, 255,.98);
}

#fuel-data {
width: 40%;
height: auto;
margin: auto;
margin-top: 10px;
padding: 30px;
background-color: rgba(224, 240, 255,.98);
}

.fuel-airports {
display: none;
}

.dist-airports {
display: none;
}

#map-container {
width: 80%;
height: auto;
background-color: rgba(224, 240, 255,.98);
margin-bottom: 20px;
margin-top: 20px;
padding-bottom: 10px;
}

#map {
width: 90%;
height: 500px;
}